{
	"env": {
		"browser": true,
		"es6": true
	},
	"plugins": ["import"],
	"globals": {
		"Map": true,
		"WeakMap": true,
		"Set": true,
		"Reflect": true,
		"process": true,
		"module": true,
		"exports": true,
		"require": true,
		"Buffer": true,
		"__dirname": true,
		"DEBUG": true,
		"describe": true,
		"it": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"impliedStrict": true
		}
	},
	"rules": {
		"import/no-extraneous-dependencies": 2,
		"import/export": 2,
		"import/no-named-as-default": 2,
		"import/no-named-as-default-member": 2,
		"import/no-webpack-loader-syntax": 2,
		"import/no-absolute-path": 2,
		"import/default": 2,
		"import/namespace": 2,
		"import/named": 2,
		"import/no-unresolved": 2,
		"sort-imports": ["error", {
			"ignoreCase": false,
			"ignoreMemberSort": false,
			"memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
		}],
		"quotes": [2, "single"],
		"no-console": 0,
		"no-constant-condition": 2,
		"no-control-regex": 2,
		"no-debugger": 1,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty-character-class": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-semi": 2,
		"no-func-assign": 2,
		"no-inner-declarations": 2,
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-negated-in-lhs": 2,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-unreachable": 2,
		"use-isnan": 2,
		"valid-typeof": 2,
		"no-unexpected-multiline": 2,
		"curly": 2,
		"dot-location": 0,
		"eqeqeq": 2,
		"no-caller": 2,
		"no-div-regex": 2,
		"no-eq-null": 2,
		"no-eval": 2,
		"no-extra-bind": 2,
		"no-floating-decimal": 2,
		"no-implied-eval": 2,
		"no-iterator": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-multi-spaces": 2,
		"no-multi-str": 2,
		"no-native-reassign": 2,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-new": 2,
		"no-octal-escape": 2,
		"no-proto": 2,
		"no-script-url": 1,
		"no-self-compare": 2,
		"no-sequences": 0,
		"no-throw-literal": 2,
		"no-useless-call": 2,
		"no-warning-comments": 1,
		"no-with": 2,
		"radix": 2,
		"wrap-iife": 2,
		"yoda": 2,
		"strict": 2,
		"init-declarations": [2,"always"],
		"no-catch-shadow": 2,
		"no-unused-vars": 2,
		"no-label-var": 2,
		"no-shadow-restricted-names": 2,
		"no-shadow": 1,
		"no-undef-init": 2,
		"no-undef": 2,
		"no-undefined": 2,
		"no-use-before-define": [2,"nofunc"],
		"callback-return": 2,
		"handle-callback-err": 2,
		"no-new-require": 2,
		"no-process-exit": 2,
		"brace-style": 2,
		"comma-spacing": [2,{"after":true}],
		"computed-property-spacing": [2,"never"],
		"eol-last": 2,
		"id-length": [2,{"min":2,"exceptions":["i","x","a","b","c","item","$"]}],
		"indent": ["error","tab", { "SwitchCase": 1 }],
		"key-spacing": [2,{"singleLine":{},"multiLine":{}}],
		"max-nested-callbacks": [2,3],
		"new-cap": 0,
		"no-inline-comments": 2,
		"no-lonely-if": 2,
		"no-multiple-empty-lines": [2,{"max":1}],
		"no-nested-ternary": 0,
		"no-new-object": 2,
		"no-spaced-func": 2,
		"no-trailing-spaces": 2,
		"no-underscore-dangle": 2,
		"no-unneeded-ternary": 2,
		"operator-assignment": [2,"always"],
		"operator-linebreak": [0,"before"],
		"padded-blocks": [2,"never"],
		"semi-spacing": [2,{"after":true}],
		"semi": [2,"always"],
		"space-before-blocks": [2,"always"],
		"object-curly-spacing": [2,"always"],
		"array-bracket-spacing": [2,"never"],
		"space-in-parens": [2,"never"],
		"space-infix-ops": 2,
		"space-unary-ops": [2, {"words": true, "nonwords": false }],
		"spaced-comment": [2,"always"],
		"arrow-spacing": [2,{"before":true,"after":true}],
		"constructor-super": 2,
		"generator-star-spacing": [2,"after"],
		"no-class-assign": 2,
		"no-const-assign": 2,
		"no-this-before-super": 2,
		"no-var": 0,
		"object-shorthand": [2,"methods"],
		"require-yield": 2,
		"max-depth": [2,2],
		"max-params": [2,4]
	},
	overrides: [
	{
		files: ["src/app.server/actions/___templates/*.js"],
		rules: {
			"import/no-unresolved": 0,
			"no-unused-vars": 0,
		}
	},
	{
		files: [
			"src/**/*.spec.js",
			"src/app.server/actions/___templates/*.js",
			"dev/**/*.spec.js",
		],
		globals: {
			"describe": true,
			"it": true
		},
		rules: {
			"import/no-unresolved": 0,
			"no-unused-vars": 0,
		}
	}]
}
